{{header}}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary">
					<i class="fa fa-save"></i>
				</button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
					<i class="fa fa-reply"></i>
				</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li>
						<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error.error_warning %}
			<div class="alert alert-danger alert-dismissible">
				<i class="fa fa-exclamation-circle"></i>
				{{ error.error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">
					<i class="fa fa-pencil"></i>
					{{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					{{itdaatInputs}}
				</div>
			</div>
			<div class="panel panel-default" id="panel-more-space">
				<div
					class="panel-body">
					<div class="col-sm-12">
						<div class="col-sm-6">
							<div class="col-sm-12 text-center">
								<h3>Attributes</h3>
								<br>
							</div>
							<div
								class="col-sm-12">
								<div class="col-sm-2">
									<h3>{{itdaat_oc_attribute_name}}</h3>
								</div>
								<div class="col-sm-10 overflow-auto itdaat-container itdaat-container-overflow">
									{% for itdaat_oc_attribute_value in itdaat_oc_attribute_values %}
										<div class="list-group">
											<input disabled type="checkbox" name="{{itdaat_oc_attribute_value.value}}" value="{{itdaat_oc_attribute_value.value}}" id="{{itdaat_oc_attribute_value.value}}"/>
											<label class="list-group-item" for="{{itdaat_oc_attribute_value.value}}">&nbsp;{{itdaat_oc_attribute_value.value}}</label>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>

						<div class="col-sm-6" style="border-left: 1px solid black;">
							<div class="col-sm-12 text-center">
								<h3>New Attributes</h3>
								<br>
							</div>
							<div class="col-sm-12" style="margin-bottom:30px">
								<div class="col-sm-11">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Search" id="txtSearch"/>
										<div class="input-group-btn">
											<button class="btn btn-primary" type="submit" name="search" value="search">
												<i class="fa fa-search"></i>
											</button>
										</div>
									</div>
								</div>
								<div class="col-sm-1">
									<button class="btn btn-primary" type="submit" name="action" value="new_itdaat_attribute">
										<i class="fa fa-plus" aria-hidden="true"></i>
									</button>
								</div>
							</div>
							<div
								class="col-sm-12 itdaat-container-overflow">
								{% for itdaat_attribute in itdaat_attributes %}
									<div class="col-sm-12">
										<button  type="submit" name="action" value="connect_itdaat_attribute|{{itdaat_attribute.id}}" style="all: unset; width: 100%;"  class="btn btn-primary btn-lg btn-block">
											<div class="list-group">
												<a class="list-group-item ">
													<h4 class="list-group-item-heading">{{itdaat_attribute.name}}</h4>
													<p class="list-group-item-text">{{itdaat_attribute.value}}</p>
												</a>
											</div>
										</button>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
